@import '~bootstrap-sass/assets/stylesheets/bootstrap-sprockets';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$base-green: #85FFBD;
$base-yellow: #FFFB7D;

.page-header {
  border-bottom: 0;
  margin: 0;

  > * {
    display: inline-block;
  }

  h1 {
    font-size: 24px;
    margin-top: 10px;
  }
}

.lists {
  color: #797979;
  padding: 20px 20px 10px;
  border: #f1f3f5 1px solid;
  position: relative;
  background-color: #fff;
  height: 100px;
  border-bottom: 0;

  &:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: #f1f3f5 1px solid;
  }

  .lists-heading {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 18px;
    box-sizing: border-box;
    color: #1c2024;
    display: inline-block;
  }

  .author {
    color: darken(#85FFBD, 40%);

    &-image {
      max-width: 17px;
      border-radius: 50%;
      vertical-align: sub;
    }
  }

  .info {
    color: #636f7b;
    font-weight: 400;
    font-size: 12px;
  }
}